.main-chat
  .main-chat__group-info
    .main-chat__group-info__infos
      %p.infos-group
        your group
      %a.infos-member
        Member: masa
    .main-chat__group-info__btn
      %li= link_to "Edit", "#", class:"editbtn"

  .main-chat__message-list
    .main-chat__message-list__lists
      %div.listx
        %div.list-upper
          %div.namex
            masa1
          %div.timex
            nowTime1
        %div.messagex
          messages1
      %div.listx
        %div.list-upper
          %div.namex
            masa2
          %div.timex
            nowTime2
        %a.messagex
          messages2
      %div.listx
        %div.list-upper
          %div.namex
            masa3
          %a.timex
            nowTime3
        %a.messagex
          messages3

  .main-chat__message-form
    .main-chat__message-form__former
      %div.input-form
        %input.input-text{name: "ur;", placeholder: "type a message", type: "text", value: ""}
        %label{class: "input-file"}
          = icon('fas', 'image')
          %input{type: "file", class: "file-text"}
      %div.input-btn
        %input.submit-btn{type:"submit", value:"Send"}
